
/*Block 1*/
.uchastniki {
    width: 400px;
    height: 420px;
    background-color: #19203c;
  
    background: -webkit-gradient(linear,left bottom, left top,from(#1a213d), to(#12192c) );
  
    background: linear-gradient(to top,#1a213d, #12192c );
    left: 700px;
    text-align: center;
    border-radius: 25px;
    opacity: 0.8;
        
}

.uchastniki h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.uchastniki p {
    color: white;
    text-align: center;
    margin-top: 10px;
    
}
.uchastniki h3 {
    width: 70px;
    color: white;
    font-size: 40px;
    padding: 10px 0;
    background-color: #2a79f2;
    border-radius: 5px;
    margin: 10px 0 0 165px;
    text-align: center;
}

#siteNavbar {
    background-color: #1B2340;
}



/*Block 2*/
#service {
    height: 506px;
    background-repeat: no-repeat;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.innoma {
    width: 400px;
    height: 100px;
    position: relative;
    top: 100px;
    left: 150px;
    
}

.innoma h3 {
    font-weight: bold;
    margin: 20px 0;
    font-size: 15px;
}

.rl {
    background-image: url(../img/rea_line_2.jpg);
    background-repeat: repeat-y;
    padding-left: 15px;
}

.projects {
   
    
}


/*feature1*/


.feature_1_nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: 16px;
}

.feature_1_nav  {
    margin-bottom: 3em;

}


.feature_1_nav ul li a {
    color: white;
    padding: 15px;
}

.feature_1_nav ul li:first-child {
    margin-left: -30px;
    margin-right: 30px;
}

.feature_1_nav ul li a:hover {
    background-color: #ffa976;
    border-radius: 20px;
}
.feature_1_nav ul li:first-child a {
    background-color: #ffa976;
    border-radius: 20px;
}


.feature_1_nav {
    width: 25em;
    height: 4em;
    background-color: #404f65;
    border-radius: 30px;
}













#feature1 {
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fbf6fa;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
}
#feature1 h1 {
    font-size: 30px;
    margin: -80px 0 0px 0;
    
}
.feature1_block_bottom {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   text-align: center;
/*    margin-top: 60px*/

    
}

.feature1_block_bottom h2 {
    text-align: center
}

.feature1_block_1 {
   margin-right: 20em;
}



/* #download*/

#partners {
    height: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.partners_logo img{
  margin-right: 6em;
}

.partners_logo {
    margin-bottom: 2em;
}
/*footer*/

#siteFooterBottom {
    background-color: #1c2340;
}


.site-footer-bottom-copyright img {
    margin-left: 0px;
}